* text=auto eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.java text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
